.container{
    width:100%;
    .coin{
        display:flex;
        align-content: left;
        justify-content: left;
        .name{
            max-width: 60px;
            flex:1;
        }

        .price{
            flex:1;
            max-width: 60px;
        }
    }
}