<h1>Crypto Portfolio</h1>
<!-- <p>${{coins |json }}</p> -->


<div class="container">
    <div class="coin" *ngFor="let coin of coins">
        <div class="name">{{coin.id}}</div>
        <div class="price">{{coin.value}}</div>
    </div>
    <h3>Total Value</h3>
    <div class="totalValue">
        {{totalValue}}
    </div>
</div>
