<div class="container">
  <div class="title">
    <p>Hi my name is</p>
    <h1>Forrest Knight</h1>
    <p>Scroll down for awesome.</p>
  </div>

  <div class="intro">
    <p>I make <b>procedurally generated</b> animations for fun.</p>
    <p>That is, I write code that makes animations with <b>random</b> features.</p>
    <p>This website serves as a showcase for those animations.</p>
    <p>Some shown are steps along the way to another, and some were made on purpose.</p>
    <p>Either way, each animation will have an accompanying explanation about how it was coded.</p>
    <p>This is an active work in progress, so <b>don't</b> expect a consistent experience, ever!</p>
  </div>
  <div class="links">
    <h3>Explore</h3>
    <li>
      <a routerLink="/home">2D Animations</a>
    </li>
  <li>
    <a routerLink="/3d" >3D Particles</a>
  </li>  
  <li>
      <a routerLink="/prism3d" >3D Prisms</a>
    </li>  
  </div>
</div>
