@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Space+Mono:400,700');
.container{

    display: flex;
    height: 100vh;

    justify-content: center;
    align-items:center;
    width:100vw;
    flex-direction: column;
    
  
    .title{
        flex:1;
        text-align: center;
        max-height:200px;
        font-family: 'Space Mono', monospace;
    }
    .intro{
        text-align:left;
        flex:1;
        font-family: 'Montserrat', sans-serif;
        max-width: 400px;
        // max-height: 50vh;
    }

    .links{
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        flex:1;
    }
 
    
}